*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, rgb(190, 82, 220),rgb(26, 151, 193))
}

.one{
    width: 700px;
    height: 40px;
    background-color: rgb(70, 121, 230);
    border: 3px solid rgb(167, 108, 226);
    border-radius: 6px;
    box-shadow: 4px 8px 9px rgb(21, 192, 239);
    cursor: pointer;
    margin: 20px;
}
/* one:hover(4) */